.container {
    margin: 0 auto;
    max-width: 1460px;
    width: 90%;
}
@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}
@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

.card {
    padding: 20px;
}